.header {
    max-width: 400px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    padding: 50px 25px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header h1 {
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    color: #000;
    font-family: 'Rampart One', cursive;
    /* animation: bounce infinite 1s linear; */
}
.header ul {
    margin-top: 50px;
}
.header ul li {
    margin-bottom: 25px;
}
.header a {
    font-size: 24px;
    color: #000;
    font-weight: 500;
    line-height: 30px;
}

/* @keyframes bounce {
    from {
      transform: translateY(0) scale(1);
    }
  
    to {
      transform: translateY(10px) scale(1.05);
    }
  } */