* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Spartan', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
label,
ol,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App {
  background: linear-gradient(149deg, rgba(168, 245, 251, 1) 0%, rgba(235, 168, 255, 1) 100%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.login .col-left {
  position: absolute;
  background: #fff;
  height: 700px;
  max-width: 500px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  padding: 120px 0;
  flex-direction: column;
  align-items: center;
}

.login .col-left h1 {
  font-size: 50px;
  line-height: 1.5;
  color: #000;
  font-weight: bold;
  font-family: 'Rampart One', cursive;
}

.login .col-right {
  display: flex;
  justify-content: space-between;
}

.login .bullet {
  max-width: 150px;
  position: relative;
}

.login .bullet::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 25px;
  width: 2px;
  height: 100px;
  transform: translateX(-50%);
  /* animation: App-logo-spin infinite 25s linear; */
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 48%, rgba(168, 245, 251, 0) 48%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.login .bullet::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 30px;
  width: 4px;
  height: 90px;
  transform: translateX(-50%);
  /* animation: App-logo-spin infinite 15s linear; */
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 48%, rgba(168, 245, 251, 0) 48%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.login .thumbnail::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: #000;
}
.login .thumbnail::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 37px;
  width: 4px;
  height: 80px;
  transform: translateX(-50%) rotate(90deg);
  /* animation: App-logo-spin infinite 5s linear; */
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 50%, rgba(168, 245, 251, 0) 48%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}